/*
 * Author: Rida Khan
 * Version: 1.0
 * */


/* CUSTOM RESETS
================================================== */
html{
    scroll-behavior: smooth;
}

a {
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    cursor: pointer;
    color: #3282B8;
}

a:focus,
a:hover {
    color: #BBE1FA;
    outline: 0 none;
    text-decoration: none;
}

p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    color: #9fa3a7;
    line-height: 22px;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 42px;
}

h1,h2,h3,h4,h5 {
    color: #26292c;
}

p + p {
    margin-top: 40px;
}

/* Buttons */
.btn {
    line-height: 50px;
    min-width: 200px;
    font-size: 16px;
    font-weight: 300;
    border: 0;
    border-radius: 50px;
    color: #26272d;
    background-color: #fff;
    padding: 0;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.btn-border {
    border: 1px solid #26272d;
}

.btn-fill {
    background-color: #267df4;
    color: #fff;
}

.btn-gray {
    background-color: #f5f5f8;
    color: #26272d;
}



.btn:hover,
button.btn:hover,
.btn:focus,
button.btn:focus {
    background-color: #26272d;
    color: #fff;
}

.btn-gray:hover,
.btn-gray:focus {
    background-color: #6fc754;
    color: #fff;    
}


/* LAYOUT
================================================== */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #26272d;
}

.img-res {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Background colors */
.gray-bg {
  background-color: #BBE1FA;
}

/* Margin and padding resets */
.mb-10 {margin-bottom: 10px;}
.mt-20 {margin-top: 20px;}
.mt-50 {margin-top: 50px;}

/* HEADER
================================================== */
.site-header {
    position: fixed;
    top: 0;
    padding: 50px 0 0;
    background-color: transparent;
    width: 100%;
    z-index: 3;
}


/* Site-logo */
.site-title {
    font-size: 18px;
    line-height: 26px;
    color: #1B262C;
}

.site-title:hover {
    color: #0F4C75;   
}

.site-title span {
    font-weight: 700;
}

.site-title a:hover {
    color: #0F4C75;
}

/* Navigation */

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    float: none;
    display: inline-block;

}

.navbar-nav > li > a, 
.slicknav_nav > li > a {
    padding: 0;
    font-size: 16px;
    position: relative;
    color: #1B262C;
    line-height: 26px;
}

.site-header-white .navbar-nav > li > a,
.site-header-white .site-title {
    color: #0F4C75;
}

.navbar-nav > li > a i {
    margin-left: 5px;
}

.navbar-nav > li + li {
    margin-left: 30px;
}

.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.active > a,
.navbar-collapse li a:hover,
.dropdown.open > a, 
.site-header-white .dropdown.open > a,
.dropdown-menu a:hover, 
.dropdown:hover > a, 
.dropdown-menu>li>a:focus,
.dropdown-menu li a:hover,
.slicknav_nav > li.active a,
.slicknav_open .slicknav_arrow,
.slicknav_nav > li a:hover {
    background-color: transparent;
    color: #0F4C75;
}

.navbar-toggle {
    border-color: #1B262C;
    margin: 0 15px 0 0;
    position: relative;
    top: -1px;
}

.navbar-toggle:hover,
.navbar-toggle[aria-expanded=true] {
    background-color: #fff;
    border-color: #000;
    cursor: pointer;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle[aria-expanded=true] .icon-bar {
    background-color: #000;
}

.navbar-toggle  .icon-bar {
    background-color: #fff;
}

.navbar-nav .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    min-width: 130px;
    border: 0;
    border-top: 5px solid #1B262C;
    top: 140%;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
}

.navbar-nav li a:hover + .dropdown-menu,
.navbar-nav .dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transition-delay: 0s;
}

.dropdown-menu li a {
    padding: 5px 15px;
    position: relative;
    left: 0;
}

.dropdown-menu li a:hover {
    left: 15px;
}

/* HERO
================================================== */
.hero { 
    background: url(../img/iconsite.jpg) no-repeat center / cover; 
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
}

.herocontest{
    background: #BBE1FA no-repeat center / cover; 
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
}
.overlay:before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgb(50, 130, 184,0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-content {
    display: table-cell;
    vertical-align: middle;
    padding-top: 75px;
}

.hero-text {
    max-width: 890px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.hero-text h1 {
    position: relative;
    margin: 0;
}

.hero-text p {
    position: relative;
    margin: 40px 0 30px;
    margin-left: 0px;
    font-size: 30px;
    color: #1B262C;

}

.hero-text .btn {
    position: relative;
    background-color: transparent;
}

.hero-text .btn:hover {
    background-color: #1B262C;
    color: #fff;
}



/* SITEMAIN
================================================== */
/* site-section */
.site-section {
   padding: 100px 0 140px;
}

.subheading-text {
    font-size: 20px;
    font-style: italic;
}

.heading-separator {
    position: relative;
    margin: 0;
    padding-bottom: 70px;
    color: #1B262C;
}

.heading-separator:after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    height: 2px;
    width: 50px;
    margin: 0 auto;
    background-color: #1B262C;
    color: #3282B8;
}

/* Section: Features */


.section-features{
    background-color: transparent;
}
.section-features h3 {
    font-size: 70px;
    
    color: #1B262C;

}

.section-features p{
    padding-right:40px;
    color: #3282B8;
}

.section-features img {
    position: absolute;
    right: 15px;

    height: 400px;
    width:  470px;
    
}

/* Section: Services */
.section-services .subheading-text {
    margin-bottom: 90px;
}


.section-services .col-md-6:nth-child(n+5) .service {
    margin-top: 60px;
}
.section-services .col-md-4:nth-child(n+3) .service {
    margin-top: 60px;
}

.service {
    min-height: 250px;
}
.service img{
    width: 150px;
    height: 150px ;
}

.service-title {
    margin: 0px 0 px;
    font-size: 13px;
    text-transform: uppercase;
    color: #0F4C75;
    font-weight: bold;

}

.service-info {
    font-size: 13px; 
    color: rgb(50, 130, 184);
    font-weight: bold;
}

.service-title1 {
    margin: 1px 0 11px;
    font-size: 10px;
    text-transform: uppercase;
    color: #0F4C75;
    font-weight: bold;

}


/* FOOTER
================================================== */
.site-footer {
    background-color: #f5f5f8;
    padding-top: 95px;
}

.site-footer .site-title {
    display: inline-block;
    margin-bottom: 40px;
}

.site-footer h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin:0 0 40px;
}

.site-footer p{
    color: rgb(50, 130, 184);
}
.site-footer > .container {
    padding-bottom: 170px;
}

.site-footer .list-unstyled li + li {
    margin-top: 20px;
}

.contact-links li {
    position: relative;
}

.contact-links li i {
    position: absolute;
    top: 50%;
    width: 20px;
    text-align: center;
    font-size: 18px;
    color: #8c8f94;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.contact-links li a,
.contact-links li p {
    margin-left: 40px;
}

.list-unstyled {
    margin-bottom: 0;
}

.list-unstyled li a,
.list-unstyled li p {
    font-size: 16px;
    color: #0F4C75;
    font-weight: 300;
}

.list-unstyled li a:hover,
.list-unstyled li.active a {
    color: #3282B8;
}

/* Copyright */
.copyright {
    padding: 30px 0;
    border-top: 1px solid rgba(38, 41, 44, 0.05);
}

.social-links a {
    line-height: 36px;
    padding: 5px 15px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 50px;
    align-content: center;
}

.social-links a:hover {
    color: #fff;
}

.social-links a i {
    width: 18px;
    text-align: center;
}

a.instagram-bg {
    color: #C13584;
    border-color: #C13584; 
}

a.instagram-bg:hover {
    background-color: #C13584;
}

a.ig-logo{
     background: url(../img/ig.svg);
    height: 0.2px;
    width:0.2px;
}

a.tiktok-bg {
  color: #000000;
  border-color: #000000;
}

a.tiktok-bg:hover{
  background-color: #000000;
}

a.tiktok-logo{
 background: url(../img/tiktok.svg);
    height: 0.2px;
    width:0.2px;
}

a.linkedin-bg {
  color: #007bb5;
  border-color: #007bb5;
}

a.linkedin-bg:hover {
  background-color: #007bb5;
}

a.linkedin-logo{
 background: url(../img/linkedin.svg);
    height: 0.2px;
    width:0.2px;
}

.copyright .text-right {
    padding: 4px 0;
}

.copyright p {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3282B8;
}

.copyright p + p {
    margin-top: 2px;
}


/* 
 * Contact
 */
/* Section: Contact-us */
.section-contact-us h2 {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 50px;
    letter-spacing: 1px;
    color: #0F4C75;

}


.section-contact-us ,
.contact-info h3 {
    margin: 0 0 10px 20px;
    color: #26292c;
    font-size: 16px;
    font-weight: 300; 
}


.contact-info {
    padding-left: 0px;
    color: #0F4C75; 
    position: relative;
}

.contact-info h3{
    margin-left: 20%;
    color: #0F4C75;
  
}
.contact-info a{
    margin-left: 20%;
}




.contact-info .list-unstyled li {
    font-size: 14px;
    font-weight: 300;
    color: #3282B8;
    margin-left: 20%;
}

.contact-info .list-unstyled + h3,
.contact-info a + h3 {
    margin-top: 30px;

}

.mapouter{
    overflow:  hidden;
    padding-bottom: 100%;
    position:  relative;
    height: 0;
}

.mapouter iframe{
    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;
}

html {
    background-color: #eee;
    font-family: sans-serif;
  }
  
  section {
    padding: 1em;
  }
  
  .lead {
    font-weight: 600;
    color: #777;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery-item {
    flex: 1 1 auto;
    flex-basis: 175px;
    margin: .5em;
    max-width: 530px;
    max-height: 300px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  .gallery-item.item-2x3 {
    flex-basis: calc(175px * 0.666);
  }
  .gallery-item.item-3x4 {
    flex-basis: calc(175px * 0.75);
  }
  .gallery-item.item-1x1 {
    flex-basis: 175px;
  }
  .gallery-item.item-4x3 {
    flex-basis: calc(175px * 1.333);
  }
  .gallery-item.item-3x2 {
    flex-basis: calc(175px * 1.5);
  }
  .gallery-item.item-8x5 {
    flex-basis: calc(175px * 1.6);
  }
  .gallery-item.item-2x1 {
    flex-basis: calc(175px * 2);
  }
  .gallery-item::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 13.75C4.5 8.64137 8.64137 4.5 13.75 4.5C18.8586 4.5 23 8.64137 23 13.75C23 18.8586 18.8586 23 13.75 23C8.64137 23 4.5 18.8586 4.5 13.75ZM13.75 0C6.15609 0 0 6.15609 0 13.75C0 21.3439 6.15609 27.5 13.75 27.5C16.3774 27.5 18.8327 26.7631 20.9205 25.4846L30.4906 35.0547C31.7509 36.3151 33.7944 36.3151 35.0547 35.0547C36.3151 33.7944 36.3151 31.7509 35.0547 30.4906L25.4846 20.9205C26.7631 18.8327 27.5 16.3774 27.5 13.75C27.5 6.15609 21.3439 0 13.75 0Z' fill='white'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 1.85rem;
    background-repeat: no-repeat;
    transition: opacity 250ms;
    z-index: 10;
  }
  .gallery-item .caption {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 0;
    line-height: 1em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(4em);
    transition: transform 250ms;
    z-index: 20;
  }
  .gallery-item .caption span {
    display: inline-block;
    max-width: calc(100% - 2em);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .gallery-item:hover .thumb {
    transform: scale(1.05);
  }
  @media (hover: hover) {
    .gallery-item:hover::after {
      opacity: 1;
    }
    .gallery-item:hover .caption {
      transform: translateY(0);
    }
  }
  .gallery-item .thumb {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: unset;
    text-align: center;
    background-color: #333;
    transition: filter 500ms, transform 500ms;
  }
  .ie-fix .gallery-item .thumb {
    width: auto;
  }
  .gallery-item .placeholder {
    filter: blur(20px);
  }
  
  .lightbox-wrapper {
    display: none;
    background-color: #2e2e35;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .lightbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
  }
  .lightbox .lightbox-header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
    font-weight: 600;
    text-align: center;
  }
  .lightbox .lightbox-header > * {
    opacity: .75;
  }
  .lightbox .lightbox-close {
    position: relative;
    height: 1.85rem;
    width: 1.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    padding: 0;
    border: none;
  }
  .lightbox .lightbox-close::before, .lightbox .lightbox-close::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 80%;
    background-color: #fff;
  }
  .lightbox .lightbox-close::before {
    transform: rotate(-45deg);
  }
  .lightbox .lightbox-close::after {
    transform: rotate(45deg);
  }
  .lightbox .lightbox-close:hover {
    opacity: 1;
  }
  .lightbox .lightbox-slides-wrapper {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    position: relative;
  }
  .lightbox .lightbox-arrow {
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
    opacity: .75;
    cursor: pointer;
    filter: drop-shadow(0 0 7px #000);
  }
  .lightbox .lightbox-arrow:hover {
    opacity: 1;
  }
  .lightbox .lightbox-arrow.arrow-left {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='53' viewBox='0 0 32 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 26.5L27.3171 0L32 4.54286L9.36585 26.5L32 48.4571L27.3171 53L0 26.5Z' fill='white'/%3E%3C/svg%3E");
  }
  .lightbox .lightbox-arrow.arrow-right {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='53' viewBox='0 0 32 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 26.5L4.68293 53L0 48.4571L22.6341 26.5L3.83911e-06 4.54286L4.68293 0L32 26.5Z' fill='white'/%3E%3C/svg%3E");
  }
  .lightbox .lightbox-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    transition: all 0ms ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .lightbox .lightbox-slide[data-state="prev"] {
    transform: translateX(-100%);
    opacity: 0;
  }
  .lightbox .lightbox-slide[data-state="next"] {
    transform: translateX(100%);
    opacity: 0;
  }
  .lightbox .lightbox-image {
    display: none;
    max-width: 100%;
    max-height: 100%;
  }
  .lightbox .spinner {
    display: none;
  }
